:root {
    /* main */
    --primary: #75983E;
    --primary-light: #9db866;
    --primary-dark: #5a7530;
    
    /* secondaires */
    --secondary: #f4e8d0;
    --secondary-dark: #d9c7ad;
    
    /* neutral */
    --white: #ffffff;
    --black: #2a2520;
    --gray-light: #f5f5f5;
    --gray: #8a8a8a;
}

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: #fff;
    min-height: 100vh;
    height: 100%;
}